.main {
  background-color: #a0a0a0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picrossBoard {
  margin: auto;
  display: flex;
}

.picCell {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid black;
}

.picCellActive {
  width: 20px;
  height: 20px;
  background-color: #303030;
  border: 1px solid black;
}